@import 'https://fonts.googleapis.com/css?family=Josefin+Sans:300,400|Poiret+One|Poiret+One';

$main-font: 'Josefin Sans', sans-serif;
$title-font: 'Poiret One', cursive;
$title-weight: bold;

$gutter: 10px;

$padding: 10px;
$padding_v: $padding 0;
$padding_h: 0 $padding;
$padding_3_top: $padding $padding 0;
$padding_3_bottom: 0 $padding $padding;

$margin: 10px;
$margin_v: $margin 0;
$margin_h: 0 $margin;
$margin_3_top: $margin $margin 0;
$margin_3_bottom: 0 $margin $margin;

$border-radius: 3px;

$font-size: 16px;
$line-height: inherit;

$h1: 2.2 * $font-size;
$h2: 2.0 * $font-size;
$h3: 1.8 * $font-size;
$h4: 1.6 * $font-size;
$h5: 1.4 * $font-size;
$h6: 1.2 * $font-size;

$color_saturation: 70; // 0 - 100

$icon-prefix: icon;

$z-index: (
	back: -100,
	tooltip: 100,
	modal: 200,
	navbar: 500
);

$breakpoints: (
	mobile: 640px,
	tablet: 768px,
	laptop: 1024px,
	pc: 1224px,
	large: 1824px
);
