.todo_component {
	width: 800px;

	.todo_component__title {
		border-bottom: 2px solid $todolist-main-border;
	}

	.todo_component__content {
		display: flex;
	}

	.todo_component__groups {
		width: 300px;
		padding-right: $padding;
		padding-top: $padding;
	}

	.todo_component__items {
		flex-grow: 1;
		padding-left: $padding;
		padding-top: $padding;
	}

	.todo_component__grouplist, .todo_component__itemlist {
		list-style: none;
		padding: 0;
		flex-grow: 1;
		height: 300px;
		overflow: auto;
		width: 100%;
		margin: 0;
		margin-bottom: $margin;
	}

	.todo_component__group, .todo_component__item {
		display: flex;
		transition: all 0.1s ease-out;
		user-select: none;
		border-bottom: 1px solid $todolist-main-border;

		&:last-child {
			border-bottom: 0;
		}

		&:nth-child(odd) {
			background: $cyan-95;
		}

		&:hover {
			background: $cyan-80;
		}

		&:active {
			transform: scale(0.95);
		}

		&.checked {
			background: $green-90;
			text-decoration: line-through;

			.todo_component__itemicon {
				color: $green-20;
			}
		}
	}

	.todo_component__itemicon {
		padding: $padding;
	}

	.todo_component__itemtext {
		flex-grow: 1;
		padding: $padding;
		word-break: break-all;
	}

	.todo_component__counter {
		margin: $margin 0;
		display: inline-block;
		min-width: 10px;
		padding: 3px $padding;
		border-radius: 10px;
	}

	.todo_component__itemremove {
		opacity: 0.4;
		padding: $padding;

		&:hover {
			color: $red-50;
			opacity: 1;
		}
	}

	.todo_component__form {
		display: flex;
		align-items: center;
	}

	.todo_component_input {
		transition: all 0.1s ease-out;
		border: 0;
		border-bottom: 2px solid $disabled;
		outline: 0;
		padding: $padding;
		flex-grow: 1;

		&:focus {
			border-bottom: 2px solid $active;
			text-align: left;
		}
	}

	.todo_component__button {
		margin-left: $margin;
		margin-bottom: $margin;
	}
}
