.todolist_container {
	display: flex;
	width: 800px;
}

.todolist {
	display: flex;
	flex-direction: column;
	width: 300px;
	flex-grow: 1;
	padding: $padding;

	&:first-child {
		flex-grow: 0;
		border-right: 1px solid $gray-9;
	}

	.todolist_list {
		list-style: none;
		padding: 0;
		flex-grow: 1;
		height: 300px;
		overflow: auto;
		width: 100%;
		margin: 0;
		margin-bottom: $margin;
	}

	.todolist_item {
		display: flex;
		transition: all 0.1s ease-out;
		user-select: none;
		border-bottom: 1px solid $gray-9;

		&:last-child {
			border-bottom: 0;
		}

		&:nth-child(odd) {
			background: $cyan-95;
		}

		&:hover {
			background: $cyan-80;
		}

		&:active {
			transform: scale(0.95);
		}

		&.checked {
			background: $green-90;
			text-decoration: line-through;

			.todolist_item_icon {
				color: $green-20;
			}
		}
	}

	.todolist_item_icon {
		padding: $padding;
	}

	.todolist_item_text {
		flex-grow: 1;
		padding: $padding;
		word-break: break-all;
	}

	.todolist_item_remove {
		opacity: 0.4;
		padding: $padding;

		&:hover {
			color: $red-50;
			opacity: 1;
		}
	}

	.todolist_controls {
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	input {
		transition: all 0.1s ease-out;
		border: 0;
		border-bottom: 2px solid $disabled;
		outline: 0;
		text-align: center;
		padding: $padding;
		margin: 0 $margin;

		&:focus {
			border-bottom: 2px solid $active;
			text-align: left;
		}
	}
}
